$primary: #000000;
$secondary: #101010;
$tertiary: #ffa542;
$bg: #eaeaea;
$title: #1c1c27;
$light: #ffffff;

%mtsr-400 {
  font-family: "Montserrat-Regular";
  font-weight: 400;
}
%mtsr-500 {
  font-family: "Montserrat-Medium";
  font-weight: 500;
}
%mtsr-600 {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}
%mtsr-700 {
  font-family: "Montserrat-Bold";
  font-weight: 700;
}
