.banner {
  padding: 20px;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 197px;
    background: $secondary;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px;
  }
  &__text {
    @extend %mtsr-600;
    font-size: 30px;
    line-height: 37px;
    flex-basis: 64%;
    text-align: center;
    color: $light;
    z-index: 2;
    &-br {
      display: block;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 10%;
    max-width: 321px;
  }
}

@media (max-width: 792px) {
  .banner {
    &__inner {
      padding: 20px;
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
    }
    &__img {
      top: 35px;
      right: 15px;
      max-width: 250px;
    }
  }
}

@media (max-width: 545px) {
  .banner {
    &__text {
      text-align: left;
      flex-basis: 163px;
      &-br {
        display: inline;
      }
    }
    &__img {
      top: 60px;
      right: 0;
      max-width: 200px;
    }
  }
}

@media (max-width: 428px) {
  .banner {
    &__text {
      text-align: center;
      flex-basis: 100%;
      &-br {
        display: block;
      }
    }
    &__img {
      display: none;
    }
  }
}
